@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Open+Sans&family=Quicksand:wght@300&display=swap');
* {
  margin:0px;
  padding:0px;
}
body{
  font-size: 14px;
}
header{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h1{
  font-size: 60px;
  font-family: 'Lobster', cursive;
}
header p{
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}
section{
  padding-top: 70px;
}

h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400px;
  text-align: center;
  margin: 0 0 60px 0;
}
/* Classes*/


.nav-main{
  z-index: auto;
  position: relative;
  padding: 0;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 4px 5px -3px #ececec;
  background: #ffffff;
  display: inline block;


}

.ul-main{
  text-align: center;
  margin: 10px 0 0px;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: block;
}
.ul-main li{
  display: inline;
}
.ul-main li a{
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 17px 32px;
  -webkit-transition: all 0.3s ease-in-out;
}

.bannerHeaderAll{
  position: relative;
  background: url(/images/background-header.png);
  background-size: auto;
  background-position: top center;
  height: 120vh;
  
  
}
.bannerHeader{  
  padding-top: 40vh;
  color: white;
}
.titulo-section{
  font-family: 'Montserrat', sans-serif;
  margin: 60px 0 60px 0 ;
  font-weight:  bold;
  text-transform: uppercase;
  color: #222222;
  font-size: 34px;
  text-align: center;
  
}
.divisor{
  display: none; 
  width: 1016px; 
  height: 152px; 
  float: none;
}
.menu-fixo{
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
 
}
.footer{
  background: url(/images/background-header.png) left top repeat;
  padding: 35px 0 35px;

}
.footer-logo{
  margin: 15px auto 35px;
  text-align: center;
  color: #cccccc;
}
.copyright, .credits{
  color: #cccccc;
  font-size: 14px;
  display: block;
  text-align: center;
}

/*ID*/

#sobre-mim .container p{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;

}