@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Open+Sans&family=Quicksand:wght@300&display=swap');
* {
  margin:0px;
  padding:0px;
}
html, body{
  height: 100%;
}
body{
  font-size: 14px;
}
header{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  background: url(/images/bg.gif);
  background-size: cover;
  background-position: top center;
  height: 100%;
}
nav{
  color: black;
}
header h1{
  font-size: 60px;
  font-family: 'Lobster', cursive;
  text-shadow: rgb(0, 0, 0)em 2px 5px;
  
  
}
header p{
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  color: #FFCFCF;
}
section{

  padding-top: 40px;
  
}


h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400px;
  text-align: center;
  margin: 0 0 60px 0;
}
/* Classes*/




.ul-main{
  text-align: center;
  margin: 10px 0 0px;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: block;
}
.ul-main li{
  display: inline;
}
.ul-main li a{
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 17px 32px;
  -webkit-transition: all 0.3s ease-in-out;
}

.bannerHeaderAll{
  position: relative;
  height: 100%;

  
}
.bannerHeader{  

  color: rgb(167, 118, 118);
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  
}
.bannerHeaderTexto{
  color: #996D6D;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
.titulo-section{
  font-family: 'Montserrat', sans-serif;
  margin: 60px 0 60px 0 ;
  font-weight:  bold;
  text-transform: uppercase;
  color: #222222;
  font-size: 34px;
  text-align: center;
  
}
.divisor{
  display: none; 
  width: 1016px; 
  height: 152px; 
  float: none;
}
.menu-fixo{
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
 
}
.footer{
  background: url(/images/background-header.png) left top repeat;
  padding: 35px 0 35px;

}
.footer-logo{
  margin: 15px auto 35px;
  text-align: center;
  color: #cccccc;
}
.copyright, .credits{
  color: #cccccc;
  font-size: 14px;
  display: block;
  text-align: center;
}
.displaySection{
  transition: ease-in-out;
  transition-duration: 0.3s;
  visibility: visible;
  
}
.btn-conheca-meu-trb a{
    color: #ffffff;
    background: #a77676;
    padding: 10px 22px;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    margin-bottom: 5px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0.6;
}
.btn-conheca-meu-trb a:hover{
    color: #ffffff;
    background: #a77676;
    padding: 10px 22px;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    margin-bottom: 5px;
    text-decoration: none;
    opacity: 1;
  
}

.botao-clicado{
  background: #a77676;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  
}
.botoes-filtro-projetos ul li a:active{
  background: #a77676;
  color: #ffffff;
  
  
}
.botoes-filtro-projetos{
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn-default{
  border: none;

}
.thumbnail-projetos img{
  width: 300px;
  height: 225px;
}

.projetos-aparecendo{
  display: block;
 
}
.projetos-escondendo{
  display: none;


}
.nav>li>a:focus, .nav>li>a:hover{
  color: #000000;
}
.thumbnail{
  transition: ease-in-out;
  transition-delay: 3s;
}


/*ID*/

#sobre-mim{
  background-color: #FFCFCF;
}
#contato{
  background-color: #FFCFCF;
}

#sobre-mim .container p{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;

}
#meus-projetos{

background-color: #CC9191;
padding-bottom: 50px;
}

#nav-main{
  z-index: 100;
  background-color: #664B4B;
  border-color: #664B4B;
  border-radius: 0;
}
/* Animação*/

.js .anime {
	opacity: 0;
	transform: translate3D(-50px, 0px, 0px);
}

.js .anime-init {
	opacity: 1;
	transform: translate3D(0px, 0px, 0px);
	transition: .3s all ease;
}
@media(min-width:768px) {
  .nav-main{
    z-index: auto;
    position: relative;
    padding: 0;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 4px 5px -3px #ececec;
    background: #ffffff;
    display: inline block;


  }
  .botoes-filtro-projetos ul li{
    list-style: none;
    display: inline;
    margin: 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    
  }
  .nav-tabs.nav-justified>li>a{
    border-bottom: none;
  }
  
}
@media(max-width:767px){
  .botoes-filtro-projetos ul li{
    list-style: none;
    display: list-item;
    
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    
  }

  .row{
    margin-right: 0px;
  }
  .item-projeto{
    left: 12%;
    max-width: 220px;
  }
  .item-projeto img{
    margin-right: 0;
  }
  .botao-projeto-a:hover{
    background: #a77676;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
  }

}